<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.locosoft.CompuCanvas.controller.core.C3Service">
      <C3Service
            id="emoter"
            implementation="net.locosoft.CompuCanvas.controller.emoter.internal.EmoterService"
            priority="85">
      </C3Service>
   </extension>

</plugin>
