<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point
      id="net.locosoft.CompuCanvas.controller.core.C3Service"
      name="CompuCanvas Controller Service"
      schema="schema/net.locosoft.CompuCanvas.controller.core.C3Service.exsd"
   />

   <extension
         point="net.locosoft.CompuCanvas.controller.core.C3Service">
      <C3Service
            id="core"
            implementation="net.locosoft.CompuCanvas.controller.core.internal.CoreService"
            priority="100">
      </C3Service>
   </extension>
</plugin>
