<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="net.locosoft.CompuCanvas.controller.server.internal.C3Servlet"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            class="net.locosoft.CompuCanvas.controller.server.internal.C3HttpContext"
            id="net.locosoft.CompuCanvas.controller.server.C3HttpContext">
      </httpcontext>
   </extension>

</plugin>
