<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.locosoft.CompuCanvas.controller.core.C3Service">
      <C3Service
            id="Show2"
            implementation="net.locosoft.CompuCanvas.controller.Show2.internal.Show2Service">
      </C3Service>
   </extension>

</plugin>
